.graduates {
	margin: ;
	box-sizing: border-box;
}

.graduates .imgdiv {
	height: 100%;
	margin: 20px;
	margin-bottom: 0px;
	display: flex;
}

.graduates .imgdiv img {
	height: 25vw;
	width: 25vw;
	border: 50px solid #green;
	margin-left: auto;
	margin-right: auto;
}

